@model CustomerAddViewModel

    <style>
        .add-model {
            margin-left: 20px;
            background-color: rgb(241,242, 247);
        }

            .add-model header {
                height: 30px;
                margin-top: 15px;
            }

        .add-body {
            margin-top: -10px;
        }
    </style>

<div class="row">
    <div class="col-lg-12">
        <section class="panel add-model">
            <header class="panel-heading">
                Add About Elements
            </header>
            <hr />
            <div class="panel-body add-body">
                <form role="form" class="form-horizontal tasi-form" asp-area="ConstructionAdmin" asp-controller="Testimonial" asp-action="Add" method="post">
                    <div class="form-group">
                        <div class="col-lg-10">
                            <input asp-for="FullName" id="f-name" class="form-control" required placeholder="Full Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10">
                            <input asp-for="Position" id="f-name" class="form-control" required placeholder="Position">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button class="btn btn-success" type="submit">Submit</button>
                            <button class="btn btn-default cancel-button" type="button">Cancel</button>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-lg-10">
                            <textarea asp-for="ContentAz" class="form-control " id="ccomment" required="" placeholder="Content AZE"></textarea>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-lg-10">
                            <textarea asp-for="ContentEn" class="form-control " id="ccomment" required="" placeholder="Content ENG"></textarea>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-lg-10">
                            <textarea asp-for="ContentRu" class="form-control " id="ccomment" required="" placeholder="Content RU"></textarea>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>

@section scripts{
    <script>
        $(".cancel-button").click(function () {
            window.location.href = "/ConstructionAdmin/Testimonial/Index";
        })
    </script>
}