<div id="bottom" class="clearfix style-1">
    <div id="bottom-bar-inner" class="wprt-container">
        <div class="bottom-bar-inner-wrap">
            <div class="bottom-bar-menu">
                <partial name="_FooterMenuPartial" />
            </div>
            <!-- /.bottom-bar-menu -->
        </div>
    </div>
</div>