<header id="site-header" class="header-front-page style-5">
    <div id="site-header-inner" class="container">
        <div class="wrap-inner">
            <div id="site-logo" class="clearfix">
                <div id="site-logo-inner">
                    <a asp-controller="Home" asp-action="Index" title="Construction" rel="home" class="main-logo">
                        <img src="~/Assets/Img/logo-light.png" alt="Construction" data-retina="Assets/Img/logo-light.png" data-width="204" data-height="30" style=" position: absolute; width: 120px; height: 100px; top: -15px; background-color: white;">
                    </a>
                </div>
            </div>
            <!-- /#site-logo -->

            <div class="mobile-button"><span></span></div>
            <!-- //mobile menu button -->

            <partial name="_MainnavPartial" />

       
        </div>
        <!-- /#site-header-inner -->

</header>
<!-- /#site-header -->









