<div class="langu" style="display: flex;">
    <li id="az-Latn-AZ" class="langss" data-name="az-Latn-AZ" data-id="az-Latn-AZ" style="margin-top:11px;cursor: pointer;">
        <a class="datas_item langdata" data-id="az-Latn-AZ">
            <input class="contexts" type="hidden" data-id="/">AZ
        </a>
    </li>
    <li id="en-US" class="langss" data-name="en-US" data-id="en-US" style="margin-top:11px;cursor: pointer;">
        <a class="datas_item langdata" data-id="en-US">
            <input class="contexts" type="hidden" data-id="/">EN
        </a>
    </li>
    <li id="ru-RU" class="langss" data-name="ru-RU" data-id="ru-RU" style="margin-top:11px;cursor: pointer;">
        <a class="datas_item langdata" data-id="ru-RU">
            <input class="contexts" type="hidden" data-id="/">РУ
        </a>
    </li>
</div>