<!--Starts Black header-->
<div class="top-header-b">

    <div class="phone-call">
        <i class="fa fa-phone"></i>
        <span style="margin-left:5px">(+994)50-899-01-10</span>

        <i class="fa fa-envelope" style="margin-left: 20px;"></i>
        <span style="margin-left:5px">office@pdc.az</span>


    </div>

    <div class="socials-item">
        <a class="socials-items_e" href="facebook.com" target="_blank"> <i class="fa fa-facebook"></i></a>
        <a class="socials-items_e" href="instagram.com" target="_blank"><i class="fa fa-instagram"></i></a>
        <a class="socials-items_e" href="linkedin.com" target="_blank"><i class="fa fa-linkedin"></i></a>
    </div>

</div>
<!--Ends Black header-->