
<div class="col-md-3">
    <div class="widget widget_links">
        <h2 class="widget-title">Useful links</h2>
        <ul class="links col2">
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-controller="Portfolio" asp-action="Index">Portfolio</a></li>
           
            <li class="last"><a asp-controller="About" asp-action="Index">About Us</a></li>
            <li><a asp-controller="Blog" asp-action="Index">News</a></li>
          
            <li><a asp-controller="Message" asp-action="Index">Contact</a></li>
           
        </ul>
    </div>
</div>