@model UserDTO
    <div class="user-heading round">
        <a href="#">
            <img src="~/ConstructionAdmin/img/profile-avatar.jpg" alt="">
        </a>
        <h1>@Model.Name</h1>
        <p>@Model.Email</p>
    </div>