@model IEnumerable<CustomerViewModel>
<section id="testimonials" class="wprt-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wprt-spacer" data-desktop="100" data-mobi="40" data-smobi="40"></div>
                <h2 class="text-center margin-bottom-20">TESTIMONIALS</h2>
                <div class="wprt-lines style-2 custom-1">
                    <div class="line-1"></div>
                </div>
                <div class="wprt-spacer" data-desktop="36" data-mobi="30" data-smobi="30"></div>
                <p class="wprt-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet iaculis elit. Nam semper ut arcu non placerat. Praesent nibh massa varius.</p>
                <div class="wprt-spacer" data-desktop="40" data-mobi="30" data-smobi="30"></div>
            </div>
            <!-- /.col-md-12 -->

            <div class="col-md-12">
                <div class="wprt-testimonials style-1 has-bullets bullet-style-1 bullet50" data-layout="slider" data-column="3" data-column2="3" data-column3="2" data-column4="1" data-gaph="30" data-gapv="30">
                    <div id="testimonials-wrap" class="cbp">

                        <!-- /.cbp-item -->

                        @foreach (var item  in Model)
                        {
                            <div class="cbp-item">
                                <div class="customer clearfix">
                                    <div class="inner">
                                        <h4 class="name">@item.FullName</h4>
                                        <div class="position">@item.Position</div>
                                        <blockquote class="whisper">@item.Content</blockquote>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
            <!-- /.cbp-item -->

        </div>
        <!-- /#service-wrap -->

    </div>
    <!-- /.wprt-testimonials -->

    <div class="wprt-spacer" data-desktop="80" data-mobi="40" data-smobi="40"></div>
</section>
