<li class="current-menu-item list-navbar" style="margin-bottom: 0px;"><a asp-area="ConstructionAdmin" asp-controller="About" asp-action="Index" style="font-size: 1.1em;">About</a></li>
<li class="list-navbar" style="margin-bottom: 0px;"><a asp-area="ConstructionAdmin" asp-controller="Blog" asp-action="Index" style="font-size: 1.1em;">Blog</a></li>
<li class="list-navbar" style="margin-bottom: 0px;"><a asp-area="ConstructionAdmin" asp-controller="Service" asp-action="Index" style="font-size: 1.1em;">Services</a></li>
<li class="list-navbar" style="margin-bottom: 0px;"><a asp-area="ConstructionAdmin" asp-controller="SubService" asp-action="Index" style="font-size: 1.1em;">SubService</a></li>
<li class="list-navbar" style="margin-bottom: 0px;"><a asp-area="ConstructionAdmin" asp-controller="Portfolio" asp-action="Index" style="font-size: 1.1em;">Portfolio</a></li>
<li class="list-navbar" style="margin-bottom: 0px;"><a asp-area="ConstructionAdmin" asp-controller="Project" asp-action="Index" style="font-size: 1.1em;">Projects</a></li>
<li class="list-navbar" style="margin-bottom: 0px;"><a asp-area="ConstructionAdmin" asp-controller="Galery" asp-action="Index">Galeries</a></li>
@*<li class="list-navbar" style="margin-bottom: 0px;"><a asp-area="ConstructionAdmin" asp-controller="Contact" asp-action="Index" style="font-size: 1.1em;">Contact</a></li>*@
<li class="list-navbar" style="margin-bottom: 0px;"><a asp-area="ConstructionAdmin" asp-controller="Slider" asp-action="Index" style="font-size: 1.1em;">Slider</a></li>
@*<li class="list-navbar" style="margin-bottom: 0px;"><a asp-area="ConstructionAdmin" asp-controller="Show" asp-action="Index" style="font-size: 1.1em;">Messages</a></li>*@