@model LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="~/ConstructionAdminimg/favicon.png">

    <title>PDC.az - Login for Admin</title>

    <!-- Bootstrap core CSS -->
    <link href="~/ConstructionAdmin/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/ConstructionAdmin/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="~/ConstructionAdmin/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/ConstructionAdmin/css/style.css" rel="stylesheet">
    <link href="~/ConstructionAdmin/css/style-responsive.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/assets/img/logo-light.png" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

    <style>
        .login-header {
            background-color: rgb(49, 49, 49) !important;
            opacity: 0.8 !important;
            color: rgb(255, 255, 255);
            overflow: hidden;
            outline: none;
        }

        .btn-signIn {
            color: #fff;
            background-color: #ffc925 !important;
            box-shadow: none !important;
        }

            .btn-signIn:hover {
                background-color: rgb(49, 49, 49) !important;
                border-color: rgb(49, 49, 49);
                color: #fff;
            }
    </style>
</head>
<body class="login-body">
    <div class="container">
        <form asp-area="ConstructionAdmin" asp-controller="Account" asp-action="Login" method="post" class="form-signin">
            <div asp-validation-summary="ModelOnly" class="form-group mb-3"></div>
            <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
            @Html.AntiForgeryToken()
            <h2 class="form-signin-heading login-header">Sign In Now</h2>
            <div class="login-wrap">
                <label>Email</label>
                <input type="text" asp-for="Email" class="form-control" placeholder="Your Email" autofocus style="width:100%">
                <div>
                    <p>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </p>
                </div>
                <label class="float-left">Password</label>
                <input type="password" asp-for="Password" class="form-control" placeholder="Password">
                <div>
                    <p>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </p>
                </div>
                <button class="btn btn-lg btn-login btn-block btn-signIn" type="submit">Sign in</button>
            </div>
        </form>
    </div>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="~/ConstructionAdmin/js/jquery.js"></script>
    <script src="~/ConstructionAdmin/js/bootstrap.min.js"></script>
</body>
</html>