@model BlogAddViewModel
    <style>
    </style>

    <style>
        .add-model {
            background-color: rgb(241,242, 247);
            padding-left: 7%;
        }

            .add-model header {
                height: 30px;
                margin-top: 15px;
            }

        .add-body {
            margin-top: -10px;
        }

        .about-button:hover {
            background-color: black !important;
            border-color: black;
            color: #fff;
        }
    </style>


    <div class="row">
        <div class="col-lg-12">
            <section class="panel add-model">
                <header class="panel-heading">
                    Create Blog Elements
                </header>
                <hr />
                <div class="panel-body add-body">
                    <form role="form" class="form-horizontal tasi-form" asp-area="ConstructionAdmin" asp-controller="Blog" asp-action="Create" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label text-00">
                                <h5>Title (Az)</h5>
                            </label>
                            <div class="col-lg-11">
                                <input type="text" asp-for="TittleAz" id="f-name" class="form-control" placeholder="Title AZ" required="">
                            </div>
                        </div>
                        <div class="form-group">
                             <label class="col-sm-2 col-sm-2 control-label text-00">
                                <h5>Title (En)</h5>
                            </label>
                            <div class="col-lg-11">
                                <input asp-for="TittleEn" id="f-name" class="form-control" placeholder="Title EN" required="">
                            </div>
                        </div>
                        <div class="form-group">
                             <label class="col-sm-2 col-sm-2 control-label text-00">
                                <h5>Title (Ru)</h5>
                            </label>
                            <div class="col-lg-11">
                                <input asp-for="TittleRu" id="f-name" class="form-control" placeholder="Title RU" required="">
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-sm-2 col-sm-2 control-label text-00">
                                <h5>Content (Az)</h5>
                            </label>
                            <div class="col-lg-11">
                                @*<textarea asp-for="ContentAz" rows="15" class="form-control " id="ccomment" required="" placeholder="Content AZE"></textarea>*@
                                <input asp-for="ContentAz" id="ccomment" class="form-control" placeholder="Content AZ" required="">
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-sm-2 col-sm-2 control-label text-00">
                                <h5>Content (En)</h5>
                            </label>
                            <div class="col-lg-11">
                                <input asp-for="ContentEn" id="ccomment1" class="form-control" placeholder="Content EN" required="">
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-sm-2 col-sm-2 control-label text-00">
                                <h5>Content (Ru)</h5>
                            </label>
                            <div class="col-lg-11">
                                <input asp-for="ContentRu" id="ccomment2" class="form-control" placeholder="Content RU" required="">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 imgUp">
                                <div id="upload_name" class="imagePreview"></div>
                                <label class="btn btn-primary">
                                    Upload<input  class="uploadFile img" asp-for="file" style="width: 0px;height: 0px;overflow: hidden;">
                                </label>
                            </div><!-- col-2 -->
                            <i class="fa fa-plus imgAdd"></i>
                        </div>

                        <div style="margin-left: 72%;">
                            <div class="col-lg-offset-2 col-lg-11">
                                <button class="btn btn-success about-button" type="submit">Save</button>
                                <button class="btn btn-default cancel-button" type="button">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>


    @section scripts{
        <script>
            $(".cancel-button").click(function () {
                window.location.href = "/ConstructionAdmin/Blog/Index";
            })
        </script>
    }