.cbp-item {
    padding: 0px;
    margin: 0;
}

#grid-container {
    margin: 5px !important;
}

.datas {
    margin: 0px;
    padding: 0px;
    float: left;
}

.imagest:hover {
    visibility: visible;
}

.imagest {
    width: 337px;
    height: 223px;
}

.datas {
    margin: 0px;
}

.imagest:hover {
    visibility: visible;
}

.imageblog {
    width: 370px;
    height: 300px;
}

.cbp img {
    height: 220px !important;

}

.serviceImage {
    width: 270px;
    height: 180px;
}



.cbp-item {
    padding: 0px;
    margin: 0;
}

#grid-container {
    margin: 0px;
}

.datas {
    margin: 0px;
    padding: 0px;
    float: left;
}

.imagest:hover {
    visibility: visible;
}

.imagest {
    width: 337px;
    height: 223px;
}

.datas {
    margin: 0px;
}

.imagest:hover {
    visibility: visible;
}

.imageblog {
    width: 370px;
    height: 300px;
}

.cbp img {
    height: 180px;
}

.serviceImage {
    width: 270px;
    height: 180px;
}


.serviceViewComponent {
    width: 270px;
    height: 180px
}

.port_image {
    width: 320px;
    height: 200px;
}

.image-style {
    width: 1170px;
    height: 780px;
}

.mage-style-blog {
    width: 370px;
    height: 300px;
}



.serviceViewComponent {
    width: 270px;
    height: 180px
}

.port_image {
    width: 320px;
    height: 200px;
}

.image-style {
    width: 1170px;
    height: 780px;
}

.mage-style-blog {
    width: 370px;
    height: 300px;
}
