.langu li a {
    color: #fff;
    margin-left: 10px;
}

.langu li {
    margin-top: 12px !important;
}

@media only screen and (max-width: 990px) {
    .langu li a {
        text-align: center;
        margin-left: 20px;
    }
}
#main-nav-mobi .menu-item-has-children .arrow:before {
    content: "\f105";
    color: #aaa;
}

#main-nav-mobi .menu-item-has-children .arrow.active:before {
    content: "\f107";
}

#main-nav-mobi ul ul li {
    background-color: #292929;
}

#main-nav-mobi ul ul ul li {
    background-color: #323232;
}
