
.imagest {
    width: 337px;
    height: 223px;
}

.cbp-item {
    padding: 0px;
}

#projectss {
    width: 400px;
    height: 370px;
}

.grid-container {
    padding: 0px;
    margin: 0px;
}

.datas {
    margin: 0px;
}

.imagest:hover {
    visibility: visible;
}


