
.serviceViewComponent {
    width: 270px;
    height: 180px
}
.port_image{
    width:320px;
    height:200px;
}
.image-style {
    width: 1170px;
    height: 780px;
}
.mage-style-blog {
    width: 370px;
    height: 300px;
}
