@model UserDTO
<div class="user-heading round" style="background-color: #ffc925">
    <h1>@Model.Name</h1>
    <p>@Model.Email</p>
</div>
<ul class="nav nav-pills nav-stacked">
    <li class="active"><a asp-area="ConstructionAdmin" asp-controller="Account" asp-action="Index" style="border-left: #ffc925"> <i class="icon-user"></i> Profile</a></li>
    @*<li><a asp-area="ConstructionAdmin" asp-controller="Account" asp-action="Create"> <i class="icon-pencil"></i> Create New Admin</a></li>*@
</ul>