@model IEnumerable<ProjectViewModel>
@inject SharedLocalizationService Localizer
@foreach (var item in Model)
{
    <div id="projects" class="cbp">
        <div class="cbp-item architecture interior workspace">
            <div class="project-item">
                <div class="inner">
                    <div class="grid">
                        <figure class="effect-honey">
                            <a asp-controller="Portfolio" asp-action="Detail" asp-route-id="@item.Id">
                                <img src="@item.Image" alt="image">
                            </a>
                        </figure>
                    </div>
                    <a class="project-zoom cbp-lightbox" href="assets/img/projects/1-full.jpg" data-title="@item.Name">
                        <i class="fa fa-arrows-alt"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
}