@model ServiceSubServiceImage
<div id="featured-title" class="clearfix featured-title-left">
    <div id="featured-title-inner" class="container clearfix">
        <div class="featured-title-inner-wrap">
            <div class="featured-title-heading-wrap">
                <h1 class="featured-title-heading">Services</h1>
            </div>

        </div>
    </div>
</div>
<div id="main-content" class="site-main clearfix">
    <div id="content-wrap" class="container">
        <div id="site-content" class="site-content clearfix">
            <div id="inner-content" class="inner-content-wrap">

                <div class="row">
                    <div class="col-md-12">
                        <div class="wprt-spacer" data-desktop="80" data-mobi="40" data-smobi="40" style="height:80px"></div>

                        <h3 class="line-height-normal margin-bottom-10">WHAT IS INCLUDED</h3>
                        <div class="wprt-lines style-1 custom-3">
                            <div class="line-1"></div>
                            <div class="line-2"></div>
                        </div>

                        <div class="wprt-spacer" data-desktop="25" data-mobi="25" data-smobi="25" style="height:25px"></div>

                        <p class="margin-bottom-0">@Model.Content</p>

                        <div class="wprt-spacer" data-desktop="35" data-mobi="35" data-smobi="35" style="height:35px"></div>



                        <div class="wprt-spacer" data-desktop="50" data-mobi="40" data-smobi="40" style="height:50px"></div>
                    </div><!-- /.col-md-12 -->

                    <div class="col-md-12">
                        <h3 class="line-height-normal margin-bottom-10">GALLERY PROJECT</h3>
                        <div class="wprt-lines style-1 custom-3">
                            <div class="line-1"></div>
                            <div class="line-2"></div>
                        </div>

                        <div class="wprt-spacer" data-desktop="25" data-mobi="25" data-smobi="25" style="height:25px"></div>

                        <p class="margin-bottom-0">@Model.SubName</p>

                        <div class="wprt-spacer" data-desktop="30" data-mobi="30" data-smobi="30" style="height:30px"></div>

                        <div class="wprt-galleries-grid arrow-style-1 has-arrows arrow60 arrow-position-2" data-layout="slider" data-column="2" data-column2="2" data-column3="1" data-column4="1" data-gaph="10" data-gapv="10">
                            <div id="images-wrap" class="cbp cbp-caption-active cbp-caption- cbp-ready cbp-mode-slider" style="height: 278px;">
                                <div class="cbp-wrapper-outer">
                                    <div class="cbp-wrapper" style="width: 1646px; transform: translate3d(-828px, 0px, 0px);">

                                        @foreach (var item in Model.Images)
                                        {


                                            <div class="cbp-item" style="width: 404px; left: 1242px; top: 0px;">
                                                <div class="cbp-item-wrapper">
                                                    <div class="item-wrap">
                                                        <a class="zoom" href=""><i class="fa fa-arrows-alt"></i></a>
                                                        <img src="@item" alt="image">
                                                    </div>
                                                </div>
                                            </div>


                                        }





                                    </div>
                                </div><div class="cbp-nav"><div class="cbp-nav-controls"><div class="cbp-nav-prev" data-slider-action="prev"></div><div class="cbp-nav-next cbp-nav-stop" data-slider-action="next"></div></div><div class="cbp-nav-pagination"><div class="cbp-nav-pagination-item" data-slider-action="jumpTo"></div><div class="cbp-nav-pagination-item cbp-nav-pagination-active" data-slider-action="jumpTo"></div></div></div>
                            </div><!-- /#images-wrap -->
                        </div><!-- /.wprt-galleries-grid -->
                    </div><!-- /.col-md-12 -->

                    <div class="col-md-6">
                        <div class="wprt-spacer" data-desktop="60" data-mobi="40" data-smobi="40" style="height:60px"></div>

                        <h3 class="line-height-normal margin-bottom-10">PRECONSTRUCTION</h3>
                        <div class="wprt-lines style-1 custom-3">
                            <div class="line-1"></div>
                            <div class="line-2"></div>
                        </div>

                        <div class="wprt-spacer" data-desktop="25" data-mobi="25" data-smobi="25" style="height:25px"></div>

                        <p class=" margin-bottom-25">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec erat erat. Integer blandit nulla quis fermentum hendrerit. Vivamus pretium urna at condimentum porta.</p>

                        <ul class="wprt-list style-2 accent-color">
                            <li>Lorem ipsum dolor sit amet, consectetur ea adipiscing elit.</li>
                            <li>Vestibulum eu libero volutpat, portas quam dolor acc.</li>
                            <li>Donec sodales quam id lorem lobortis nisl vehicula.</li>
                            <li>Cras id justo eget sapien scelerisque lacinia non a eros.</li>
                        </ul>
                    </div><!-- /.col-md-6 -->

                    <div class="col-md-6">
                        <div class="wprt-spacer" data-desktop="60" data-mobi="40" data-smobi="40" style="height:60px"></div>

                        <h3 class="line-height-normal margin-bottom-10">AFTER THE PROJECT</h3>
                        <div class="wprt-lines style-1 custom-3">
                            <div class="line-1"></div>
                            <div class="line-2"></div>
                        </div>

                        <div class="wprt-spacer" data-desktop="25" data-mobi="25" data-smobi="25" style="height:25px"></div>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec erat erat. Integer blandit nulla quis fermentum hendrerit. Nulla porta purus quis iaculis ultrices. Proin aliquam sem at nibh hendrerit sagittis. Nullam ornare odio eu lacus tincidunt malesuada. Sed eu vestibulum elit.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec erat erat. Integer blandit nulla quis fermentum hendrerit. Vivamus pretium urna at condimentum porta.</p>
                    </div><!-- /.col-md-6 -->

                    <div class="col-md-12">
                        <div class="wprt-spacer" data-desktop="80" data-mobi="40" data-smobi="40" style="height:80px"></div>
                    </div>
                </div><!-- /.row -->

            </div><!-- /.inner-content-wrap -->
        </div><!-- /#site-content -->

        <div id="sidebar">
            <div class="wprt-spacer" data-desktop="80" data-mobi="40" data-smobi="40" style="height:80px"></div>

            <div id="inner-sidebar" class="inner-content-wrap">
                <div class="widget widget_nav_menu">
                    <div class="menu-service-menu-container">
                        <ul id="menu-service-menu" class="menu">
                            <li class="menu-item "><a href="service-Construction.html">SERVICE1 </a></li>
                            <li class="menu-item "><a href="service-renovation.html">SERVICE2</a></li>
                            <li class="menu-item current_page_item "><a href="service-consulting.html">SERVICE3</a></li>
                            <li class="menu-item "><a href="service-architecture.html">SERVICE4</a></li>
                            <li class="menu-item "><a href="service-electrical.html">SERVICE5</a></li>
                            <li class="menu-item "><a href="service-electrical.html">SERVICE6</a></li>
                            <li class="menu-item "><a href="service-electrical.html">SERVICE7</a></li>
                            <li class="menu-item "><a href="service-electrical.html">SERVICE8</a></li>
                            <li class="menu-item "><a href="service-electrical.html">SERVICE9</a></li>
                            <li class="menu-item "><a href="service-electrical.html">SERVICE10</a></li>


                        </ul>
                    </div>
                </div><!-- /.widget_nav_menu -->
            </div><!-- /#inner-sidebar -->
        </div><!-- /#sidebar -->
    </div><!-- /#content-wrap -->
</div>