@model BlogDetalyeViewModel
@inject SharedLocalizationService Localizer
    <!-- Featured Title -->
    <div class="wprt-spacer" data-desktop="100" data-mobi="40" data-smobi="40"></div>

    <div>&nbsp;</div>

    <!-- Main Content -->
    <div id="main-content" class="site-main center clearfix">
        <div id="content-wrap" class="container">
            <div style="text-align: center; font-size:36px">@Localizer.GetLocalizedHtmlString(RESOURCEKEYS.News)</div>
            <div>&nbsp;</div>
            <div id="site-content" class="site-content clearfix" style="width: 100%">
                <div>
                    <div class="container">
                        <img src="@Model.imagePath" alt="logo" style="width:400px;height:250px;margin-right:15px; float: left;">
                        <h1>@Model.Title</h1>
                        <p>@Model.Content</p>
                    </div>
                </div>
                <!-- /.inner-content-wrap -->

            </div>
            <!-- /#site-content -->

        </div>
        <!-- /#main-content -->

        <div class="wprt-spacer" data-desktop="100" data-mobi="40" data-smobi="40"></div>
    </div>
