@model ServiceUpdateViewModel
@{
    ViewData["Title"] = "Update";
}

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Service Update
            </header>
            <div class="panel-body">
                <form role="form" class="form-horizontal tasi-form" asp-area="ConstructionAdmin" asp-controller="Service" asp-action="Update" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="ImageId" value="@Model.ImageId" />
                    <input type="hidden" name="id" value="@Model.id" />
                    <div class="form-group">

                        <div class="col-lg-10">
                            <input type="text" asp-for="TittleAz" id="f-name" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-lg-10">
                            <input type="text" asp-for="TittleRu" id="f-name" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-lg-10">
                            <input type="text" asp-for="TittleEn" id="f-name" class="form-control">
                        </div>
                    </div>

                    <div class="form-group ">

                        <div class="col-lg-10">
                            <textarea asp-for="NameAz" class="form-control " id="ccomment"></textarea>
                        </div>
                    </div>
                    <div class="form-group ">

                        <div class="col-lg-10">
                            <textarea asp-for="NameRu" class="form-control " id="ccomment"></textarea>
                        </div>
                    </div>
                    <div class="form-group ">

                        <div class="col-lg-10">
                            <textarea asp-for="NameEn" class="form-control " id="ccomment"></textarea>
                        </div>
                    </div>
                    <div class="form-group ">

                        <div class="col-lg-10">
                            <img src="@Model.path" width="60" height="70" alt="Alternate Text" />
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-lg-10">
                            <input type="file" name="file" placeholder="Images" id="f-name" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button class="btn btn-success" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>