@model ProjectAddModel

<style>
    .add-model {
        background-color: rgb(241,242, 247);
        padding-left: 7%;
    }

        .add-model header {
            height: 30px;
            margin-top: 15px;
        }

    .add-body {
        margin-top: -10px;
    }

    .about-button:hover {
        background-color: black !important;
        border-color: black;
        color: #fff;
    }
</style>


    <div class="row">
        <div class="col-lg-12">
            <section class="panel add-model">
                <header class="panel-heading">
                    Project  Add
                </header>
                <hr />
                <div class="panel-body add-body">
                    <form role="form" class="form-horizontal tasi-form" asp-area="ConstructionAdmin" asp-controller="Project" asp-action="Add" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label text-00">
                                <h5>Title (Az)</h5>
                            </label>
                            <div class="col-lg-11">
                                <input  asp-for="NameAz" id="f-name" class="form-control" placeholder="Name AZE" required="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label text-00">
                                <h5>Title (En)</h5>
                            </label>
                            <div class="col-lg-11">
                                <input  asp-for="NameEn" id="f-name" class="form-control" placeholder="Name ENG" required="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label text-00">
                                <h5>Title (Ru)</h5>
                            </label>
                            <div class="col-lg-11">
                                <input  asp-for="NameRu" id="f-name" class="form-control" placeholder="Name RU" required="">
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-sm-2 col-sm-2 control-label text-00">
                                <h5>Content (Az)</h5>
                            </label>
                            <div class="col-lg-11">

                                <textarea asp-for="ContentAz" class="form-control " id="ccomment" required=""></textarea>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-sm-2 col-sm-2 control-label text-00">
                                <h5>Content (En)</h5>
                            </label>
                            <div class="col-lg-11">
                                <textarea asp-for="ContentEn" class="form-control " id="ccomment1" required=""></textarea>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="col-sm-2 col-sm-2 control-label text-00">
                                <h5>Content (Ru)</h5>
                            </label>
                            <div class="col-lg-11">
                                <textarea asp-for="ContentRu" class="form-control " id="ccomment2" required=""></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                             <label class="col-sm-2 col-sm-2 control-label text-00">
                                <h5>Portfolio</h5>
                            </label>
                            <div class="col-lg-11">
                                <select class="form-control m-bot15" asp-for="PortfolioId">
                                    @foreach (PortfolioViewModel item in ViewBag.data)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 imgUp">
                                <div id="upload_name" class="imagePreview"></div>
                                <label class="btn btn-primary">
                                    Upload<input class="uploadFile img" asp-for="file" style="width: 0px;height: 0px;overflow: hidden;">
                                </label>
                            </div><!-- col-2 -->
                            <i class="fa fa-plus imgAdd"></i>
                        </div>
                        <div class="form-group" style="margin-left: 72%;">
                            <div class="col-lg-offset-2 col-lg-11">
                                <button class="btn btn-success about-button" type="submit">Save</button>
                                <button class="btn btn-default cancel-button" type="button">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>


@section scripts{
    <script>
        $(".cancel-button").click(function () {
            window.location.href = "/ConstructionAdmin/Project/Index";
        })
    </script>
}