@inject SharedLocalizationService Localizer
<style>
    .flex-viewport {
        height: auto !important;
    }

    .galleries {
        margin-bottom: 40px !important;
    }
   
    @@media(max-width:990px) {
     

        .flexviewport {
            height: 250px;
        }
    }
</style>
<div class="col-md-12">
    <h3>@Localizer.GetLocalizedHtmlString(RESOURCEKEYS.Photos)</h3>
    <div class="wprt-lines style-1 custom-3">
        <div class="line-1"></div>
        <div class="line-2"></div>
    </div>
    <div class="wprt-spacer" data-desktop="30" data-mobi="30" data-smobi="30"></div>

    <div class="wprt-galleries galleries" data-width="135" data-margin="10">
        <div id="wprt-slider" class="flexslider">
            <ul class="slides">
                @for (int i = 0; i < ViewBag.Images.Count; i++)
                {
                    <li class="flex-active-slide">
                        <a class="zoom" href="@ViewBag.Images[i].Imagepaths"><i class="fa fa-arrows-alt"></i></a>
                        <img class="galerySliderImage" src="@ViewBag.Images[i].Imagepaths" alt="image" />
                    </li>
                }



            </ul>
        </div>

        <div id="wprt-carousel" class="flexslider">
            <ul class="slides">
                @for (int i = 0; i < ViewBag.Images.Count; i++)
                {
                    <li><img class="galerySliderSubImage" src="@ViewBag.Images[i].Imagepaths" alt="image"></li>

                }

            </ul>
        </div>
    </div>

    <div class="wprt-spacer" data-desktop="0" data-mobi="30" data-smobi="30"></div>
</div><!-- /.col-md-6 -->
