<!-- Featured Title -->
<div id="featured-title" class="clearfix featured-title-left">
    <div id="featured-title-inner" class="container clearfix">
        <div class="featured-title-inner-wrap">
            <div class="featured-title-heading-wrap">
                <h1 class="featured-title-heading">Portfolio Detail</h1>
            </div>
        </div>
    </div>
</div>

<!-- Main Content -->
<div id="main-content" class="site-main clearfix">
    <div id="content-wrap">
        <div id="site-content" class="site-content clearfix">
            <div id="inner-content" class="inner-content-wrap">
                <div class="page-content">
                    <section class="wprt-section">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="wprt-spacer" data-desktop="80" data-mobi="40" data-smobi="40"></div>
                                </div>
                                <!-- /.col-md-12 -->

                                <div class="col-md-8">
                                    <div class="wprt-galleries galleries w-770px" data-width="142" data-margin="15">
                                        <div id="wprt-slider" class="flexslider">
                                            <ul class="slides">
                                                <li class="flex-active-slide">
                                                    <a class="zoom" href="assets/img/gallery/1.jpg"><i class="fa fa-arrows-alt"></i></a>
                                                    <img src="~/assets/img/gallery/1.jpg" alt="image" />
                                                </li>
                                                <li class="flex-active-slide">
                                                    <a class="zoom" href="assets/img/gallery/2.jpg"><i class="fa fa-arrows-alt"></i></a>
                                                    <img src="~/assets/img/gallery/2.jpg" alt="image" />
                                                </li>
                                                <li class="flex-active-slide">
                                                    <a class="zoom" href="assets/img/gallery/1.jpg"><i class="fa fa-arrows-alt"></i></a>
                                                    <img src="~/assets/img/gallery/1.jpg" alt="image" />
                                                </li>
                                                <li class="flex-active-slide">
                                                    <a class="zoom" href="assets/img/gallery/2.jpg"><i class="fa fa-arrows-alt"></i></a>
                                                    <img src="~/assets/img/gallery/2.jpg" alt="image" />
                                                </li>
                                                <li class="flex-active-slide">
                                                    <a class="zoom" href="assets/img/gallery/1.jpg"><i class="fa fa-arrows-alt"></i></a>
                                                    <img src="~/assets/img/gallery/1.jpg" alt="image" />
                                                </li>
                                            </ul>
                                        </div>
                                        <div id="wprt-carousel" class="flexslider">
                                            <ul class="slides">
                                                <li><img src="~/assets/img/gallery/1.jpg" alt="image"></li>
                                                <li><img src="~/assets/img/gallery/2.jpg" alt="image"></li>
                                                <li><img src="~/assets/img/gallery/1.jpg" alt="image"></li>
                                                <li><img src="~/assets/img/gallery/2.jpg" alt="image"></li>
                                                <li><img src="~/assets/img/gallery/1.jpg" alt="image"></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.col-md-8 -->

                                <div class="col-md-4">
                                    <div class="wprt-spacer" data-desktop="0" data-mobi="30" data-smobi="30"></div>
                                    <h4 class="line-height-normal margin-bottom-10">PROJECT DESCRIPTION</h4>
                                    <div class="wprt-lines style-1 custom-3">
                                        <div class="line-1"></div>
                                        <div class="line-2"></div>
                                    </div>
                                    <div class="wprt-spacer" data-desktop="25" data-mobi="25" data-smobi="25"></div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec erat erat. Integer blandit nulla quis fermentum hendrerit. Vestibulum eu libero volutpat, portas quam acc, tempus sem. Donec sodales quam id lorem lobortis, vitae. </p>
                                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque nec erat erat. Integer blandit nulla quis fermentum hendrerit.</p>
                                    <div class="wprt-lines style-1 custom-4">
                                        <div class="line-1"></div>
                                    </div>
                                </div>
                                <!-- /.col-md-4 -->

                                <div class="col-md-12">
                                    <div class="wprt-spacer" data-desktop="80" data-mobi="40" data-smobi="40"></div>
                                </div>
                                <!-- /.col-md-12 -->

                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
