@model IEnumerable<ProjectViewModel>


   
        @foreach (var item in Model)
        {


    <div class="cbp-item datas">
       
        <a href="/Portfolio/Detail/@item.Id" title="custom title 3">

            <img class="imagest" src="@item.Image" alt="custom alt 3">
            <p class="nese" >@item.Name</p>
        </a>
    </div>


        }
    


