@model IEnumerable<ConstructionSite.DTO.FrontViewModels.Portfolio.PoftfiloProjectViewModel>
@{
    ViewData["Title"] = "Project";
}



    <div id="projects" class="cbp cbp-caption-active cbp-caption- cbp-ready" style="height: 464px;">
        <div class="cbp-wrapper-outer">
            <div class="cbp-wrapper">
                <div class="cbp-item architecture interior workspace" style="width: 337px; left: 0px; top: 0px;">
                    <div class="cbp-item-wrapper">
                        <div class="project-item">
                            <div class="inner">
                                <div class="grid">
                                    <figure class="effect-zoe">
                                        <img src="assets/img/projects/1.jpg" alt="image">
                                        <figcaption>
                                            <div>
                                                <h2><a target="_blank" href="portfolio-main.html">LUXURY BUILDINGS</a></h2>
                                                <p>Construction</p>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>

                                <a class="project-zoom cbp-lightbox" href="assets/img/projects/1-full.jpg" data-title="LUXURY BUILDINGS">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div><!--/.cbp-item -->

                <div class="cbp-item building office workspace cbp-item-off" style="width: 337px; height: 232px; left: 0px; top: 0px;">
                    <div class="cbp-item-wrapper">
                        <div class="project-item">
                            <div class="inner">
                                <div class="grid">
                                    <figure class="effect-honey">
                                        <img src="assets/img/projects/2.jpg" alt="image">
                                        <figcaption>
                                            <div>
                                                <h2><a target="_blank" href="portfolio-main.html">LUXURY BUILDINGS</a></h2>
                                                <p>Construction</p>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>

                                <a class="project-zoom cbp-lightbox" href="assets/img/projects/2-full.jpg" data-title="LUXURY BUILDINGS">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div><!--/.cbp-item -->

                <div class="cbp-item architecture garden interior" style="width: 337px; height: 232px; left: 337px; top: 0px;">
                    <div class="cbp-item-wrapper">
                        <div class="project-item">
                            <div class="inner">
                                <div class="grid">
                                    <figure class="effect-oscar">
                                        <img src="assets/img/projects/2.jpg" alt="image">
                                        <figcaption>
                                            <div>
                                                <h2><a target="_blank" href="portfolio-main.html">LUXURY BUILDINGS</a></h2>
                                                <p>Construction</p>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>

                                <a class="project-zoom cbp-lightbox" href="assets/img/projects/3-full.jpg" data-title="LUXURY BUILDINGS">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div><!--/.cbp-item -->

                <div class="cbp-item building interior workspace cbp-item-off" style="width: 337px; left: 337px; top: 0px;">
                    <div class="cbp-item-wrapper">
                        <div class="project-item">
                            <div class="inner">
                                <div class="grid">
                                    <figure class="effect-sadie">
                                        <img src="assets/img/projects/1.jpg" alt="image">
                                        <figcaption>
                                            <div>
                                                <h2><a target="_blank" href="portfolio-main.html">LUXURY BUILDINGS</a></h2>
                                                <p>Construction</p>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>

                                <a class="project-zoom cbp-lightbox" href="assets/img/projects/4-full.jpg" data-title="LUXURY BUILDINGS">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div><!--/.cbp-item -->

                <div class="cbp-item garden office workspace cbp-item-off" style="width: 337px; left: 337px; top: 0px;">
                    <div class="cbp-item-wrapper">
                        <div class="project-item">
                            <div class="inner">
                                <div class="grid">
                                    <figure class="effect-zoe">
                                        <img src="assets/img/projects/1.jpg" alt="image">
                                        <figcaption>
                                            <div>
                                                <h2><a target="_blank" href="portfolio-main.html">LUXURY BUILDINGS</a></h2>
                                                <p>Construction</p>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>

                                <a class="project-zoom cbp-lightbox" href="assets/img/projects/5-full.jpg" data-title="LUXURY BUILDINGS">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div><!--/.cbp-item -->

                <div class="cbp-item architecture garden office" style="width: 337px; height: 232px; left: 674px; top: 0px;">
                    <div class="cbp-item-wrapper">
                        <div class="project-item">
                            <div class="inner">
                                <div class="grid">
                                    <figure class="effect-honey">
                                        <img src="assets/img/projects/2.jpg" alt="image">
                                        <figcaption>
                                            <div>
                                                <h2><a target="_blank" href="portfolio-main.html">LUXURY BUILDINGS</a></h2>
                                                <p>Construction</p>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>

                                <a class="project-zoom cbp-lightbox" href="assets/img/projects/6-full.jpg" data-title="LUXURY BUILDINGS">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div><!--/.cbp-item -->

                <div class="cbp-item architecture garden office" style="width: 337px; left: 1011px; top: 0px;">
                    <div class="cbp-item-wrapper">
                        <div class="project-item">
                            <div class="inner">
                                <div class="grid">
                                    <figure class="effect-oscar">
                                        <img src="assets/img/projects/1.jpg" alt="image">
                                        <figcaption>
                                            <div>
                                                <h2><a target="_blank" href="portfolio-main.html">LUXURY BUILDINGS</a></h2>
                                                <p>Construction</p>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>

                                <a class="project-zoom cbp-lightbox" href="assets/img/projects/7-full.jpg" data-title="LUXURY BUILDINGS">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div><!--/.cbp-item -->

                <div class="cbp-item architecture garden office" style="width: 337px; left: 0px; top: 232px;">
                    <div class="cbp-item-wrapper">
                        <div class="project-item">
                            <div class="inner">
                                <div class="grid">
                                    <figure class="effect-sadie">
                                        <img src="assets/img/projects/1.jpg" alt="image">
                                        <figcaption>
                                            <div>
                                                <h2><a target="_blank" href="portfolio-main.html">LUXURY BUILDINGS</a></h2>
                                                <p>Construction</p>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>

                                <a class="project-zoom cbp-lightbox" href="assets/img/projects/8-full.jpg" data-title="LUXURY BUILDINGS">
                                    <i class="fa fa-arrows-alt"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div><!--/.cbp-item -->
            </div>
        </div>
    </div>