@model IEnumerable<ProjectViewModel>

<div class="container-fluid">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3 effect-zoes" style="padding:0px !important">
                    <a style="display:block" href="/Portfolio/Detail/@item.Id" title="custom title 3">
                        <img src="@item.Image" alt="custom alt 3" class="imagest" style="width:100%;" />

                        <div class="hoverDiv">
                            <p>@item.Name</p>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
