@model ContactIndexViewModel
    <div class="col-md-8">
        <img src="~/Assets/Img/pdc.svg" style="width: 15%; margin-top: -20px; margin-bottom: 5%; margin-left: 2%;" />
        <div class="widget widget_about margin-bottom-25">
            <section class="widget widget_information">
                <ul class="info-wrap">
                    <li class="address item">@Model.Address</li>
                    <li class="phone item">@Model.PhoneNumber</li>
                    <li class="email item">@Model.Email</li>
                </ul>
            </section>
        </div>
    </div>