@model MessageAddViewModel
@inject SharedLocalizationService Localizer
@{
    ViewData["Title"] = "Index";
}

<style>
    #map {
        height: 400px;
        width: 100%;
    }
</style>

<div id="main-content" class="site-main clearfix">
    <div id="content-wrap">
        <div class="wprt-spacer" data-desktop="100" data-mobi="40" data-smobi="40" style="height:100px"></div>
        <div class="wprt-spacer" data-desktop="100" data-mobi="40" data-smobi="40" style="height:100px"></div>
        <h1 class="featured-title-heading" style="text-align: center;">@Localizer.GetLocalizedHtmlString(RESOURCEKEYS.ContactUs)</h1>
        <div id="site-content" class="site-content clearfix">
            <div id="inner-content" class="inner-content-wrap">
                <div class="page-content">
                    <section class="wprt-section">
                        <div id="map" class="wprt-map-1"></div>
                        <div class="wprt-spacer" data-desktop="100" data-mobi="60" data-smobi="60"></div>

                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 class="text-center margin-bottom-20">@Localizer.GetLocalizedHtmlString(RESOURCEKEYS.GetInTouchWithUs)</h2>
                                    <div class="wprt-lines style-2 custom-1">
                                        <div class="line-1"></div>
                                    </div>
                                    <div class="wprt-spacer" data-desktop="36" data-mobi="30" data-smobi="30"></div>
                                    <p class="wprt-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet iaculis elit. Nam semper ut arcu non placerat. Praesent nibh massa varius.</p>
                                    <div class="wprt-spacer" data-desktop="40" data-mobi="30" data-smobi="30"></div>
                                </div>
                                <!-- /.col-md-12 -->
                                <div class="col-md-4">
                                    @await Component.InvokeAsync("Contact")
                                </div>
                                <div class="col-md-8">
                                    @await Component.InvokeAsync("Messages")
                                </div>

                                <div class="col-md-12">
                                    <div class="wprt-spacer" data-desktop="100" data-mobi="60" data-smobi="60"></div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
@section scrips{
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script let keys="AIzaSyD2QmvoLHHVFktvA_fyDKKLoRjZJzpEKqg" ;
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcD5yIXxI3_K6v4NOqfI4F_B53VqpLq3s&callback=initMap&libraries=&v=weekly"
            defer></script>
    <script>
    function initMap() {
        const myLatLng = {
            lat: @ViewBag.la,
            lng: @ViewBag.lo
        };
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 15,
            center: myLatLng
        });
        new google.maps.Marker({
            position: myLatLng,
            map,
            title: "Hello World!"
        });
    }
    </script>
}